<style>
    .loggedIn {
        border-radius: 10px;
        background-color: #eedede;
        padding: 10px;  
        width:40%;
    }


    input[type=email],[type=password] {
        text-align: center;
        width: 50%;
        padding: 12px 20px;
        margin: 8px 0;
        font-size: 20px;
        display: block;
        border: 1px solid #ccc;
        border-radius: 4px;
        box-sizing: border-box;
    }

    input[type=submit] {
        width: 50%;
        background-color: #0d2f8d;
        color: white;
        padding: 14px 20px;
        margin: 8px 0;
        border: none;
        border-radius: 4px;
        cursor: pointer;
    }

</style>

<div class ="loginField">
<form method="POST" action="/auth/login" class="loggedIn">
    <label for="auth-email">Email:</label>
    <input type="email" name="email" id="auth-email">

    <label for="auth-password">Password:</label>
    <input type="password" name="password" id="auth-password">

    <input type="submit" value="Log In">
</form>
</div>