<style>
    .loggedIn {
        border-radius: 10px;
        color: pink;
        background-color: #c55757;
        padding: 10px;  
        width: 230px;
        border-color: pink;
        border: solid;
        margin: auto;
        opacity: 0.9;
    }


    input[type=email],[type=password] {
        font-family: 'Shadows Into Light', cursive;
        text-align: center;
        width: 200px;
        font-size: 25px;
        font-weight: bolder;
        display:block;
        border-radius: 4px;
        border-color: pink;
    }

    input[type=submit] {
        font-family: 'Shadows Into Light', cursive;
        width: 200px; 
        background-color: #743939;
        color: pink;
        font-size: 2vw;
        border: none;
        border-radius: 4px;
        cursor: pointer;
    }

    label {
        font-size: 2vw;
    }

    h4 {
        line-height: 40px;
        width: 300px;
        color: pink;
        font-family: 'Shadows Into Light', cursive;
        font-size: 3vw;
        margin-bottom: 4px;
        margin-right: 6px;
        position:absolute;
        bottom:0;
        right:0;      
    }

</style>

<div class ="loginField">
<form method="POST" action="/auth/login" class="loggedIn">
    <label for="auth-email">Email:</label>
    <input type="email" name="email" id="auth-email">

    <label for="auth-password">Password:</label>
    <input type="password" name="password" id="auth-password">

    <input type="submit" value="Log In">
    
</form>



</div>