<style>
    .alert {
        width: 25%;
        border-radius: 5px;
        color: pink;
        background: rgb(107, 52, 61);
        text-align: center;
        margin: auto;
        font-size: 2vw;
    }

</style>

<div class="alert">
<% if (alerts.error) { %>
    <% alerts.error.forEach(msg => { %>
      <%= msg %>
    <% }) %>
<% } %>

<% if (alerts.success) { %>
    <% alerts.success.forEach(msg => { %>
        <%= msg %>
    <% }) %>
<% } %>
</div>