<style>
    .alert {
        color: pink;
        text-align: center;
        border-radius: 10px;
        text-align: center;
        background: white;
        width:40%;
        opacity: 0.9;
        margin: auto;
    }

</style>

<div class="alert">
<% if (alerts.error) { %>
    <% alerts.error.forEach(msg => { %>
      <%= msg %>
    <% }) %>
<% } %>

<% if (alerts.success) { %>
    <% alerts.success.forEach(msg => { %>
        <%= msg %>
    <% }) %>
<% } %>
</div>