<h1>Forum</h1>

<%= newComments.comment%>
<br>

  
<form method="POST" action="/favorites/drinks/<%=drink.id%>/?_method=PUT">
    <label for="description">Comment</label>

    <textarea id="comment" type="text" name="comment"></textarea>

    <button id="button" type="submit">Submit</button>
    <a id="seeComments" href="/comments/show/<%=drink.id%>"> Forum</a>
    </form>

<a href="/">&larr; Back Home</a>
