<style>
    h4 {
        color: pink;
        text-align: center;
        border-radius: 10px;
        background-color: #c55757;
        justify-content: center;
    }
</style>

<h4>Search for Drinks:</h4>

<form action="query/results" method="GET">
    <label for="drinkFilter">Search Drinks</label>
    <input type="text" id="drinkFilter" name="drink">
    <input type="submit" value="Search">
</form>