<style>
    h4 {
        color: pink;
        text-align: center;
        border-radius: 10px;
        background-color: #c55757;
        justify-content: center;
    }

    .searchDrink {
        justify-content: center;
    }

    form {
        color: pink;
        text-align: center;
    }

    h4 {
        width: 50%;
        border-radius: 4px;
        border-color: pink;
        margin: auto;
        border: solid;
    }

    input[type=text] {
        font-family: 'Shadows Into Light', cursive;
        text-align: center;
        width: 200px;
        font-size: 20px;
        border-radius: 4px;
        border-color: pink;
        box-sizing: border-box;
    }

    input[type=submit] {
        font-family: 'Shadows Into Light', cursive;
        width: 20%;
        background-color: #743939;
        color: pink;
        font-size: 2vw;
        margin: 8px 0;
        border: none;
        border-radius: 4px;
        cursor: pointer;
    }
</style>

<h4>What are you thirsty for? (Can search by drink name or ingredient)</h4>

<form action="query/results" method="GET" id="searchDrink">
    <input type="text" id="drinkFilter" name="drink">
    <input type="submit" value="Search">
</form>