<!DOCTYPE html>
<link rel="preconnect" href="https://fonts.gstatic.com">
<link href="https://fonts.googleapis.com/css2?family=Shadows+Into+Light&display=swap" rel="stylesheet">
<html lang="en">
<style>

    marquee {
        color: pink;
        font-size: 6vw;
        opacity: 0.9;
    }

    #mainheader {
        background-color: #c55757;
        opacity: 0.9;
        margin-top: 5vw;
        border: pink;
        border-style: solid;
        border-radius: 3vw;
        width: 75%;
        margin: auto;
        margin-top: 4vw;
    }

    a {
        color: pink;
    }

    body {
        font-family: 'Shadows Into Light', cursive;
        font-size: 3vw;
        background: url(https://img.freepik.com/free-photo/multicolored-cocktails-bar_109285-5656.jpg?size=626&ext=jpg);
        background-repeat: no-repeat;
        background-size: cover;
    }

    #loginButton, #logoutButton {
        line-height: 40px;
        width: 150px;
        font-family: 'Shadows Into Light', cursive;
        font-size: 3vw;
        margin-top: 4px;
        margin-right: 6px;
        position:absolute;
        top:0;
        right:0;
    }

    #signupButton, #favoritesButton {
     line-height: 40px;
     font-family: 'Shadows Into Light', cursive;
     font-size: 3vw;
     margin-top: 4px;
     margin-right: 200px;
     position:absolute;
     top:0;
     right:0;
    }
    
    #forumButton {
     line-height: 40px;
     font-family: 'Shadows Into Light', cursive;
     font-size: 3vw;
     margin-top: 4px;
     margin-right: 375px;
     position:absolute;
     top:0;
     right:0;
    }

    h1 {
        line-height: 5px;
        width: 300px;
        color: pink;
        font-family: 'Shadows Into Light', cursive;
        font-size: 3vw;
        position:absolute;
        top: 0;
    }   
    

</style>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Project 2</title>
</head>
<body>
    <h1>&copy; 2020 Gabriel Go<h1>
    <header>
        <div id= "mainheader">
            <marquee behavior="scroll" direction="right">It's 5:00 Somewhere</marquee>
        </div>
        <nav>
            <ul>
                <% if (!currentUser) { %>
                    <div id="signupButton">
                        <a href="/auth/signup">Sign Up</a>
                    </div>
                    <div id="loginButton">
                        <a href="/auth/login">Log In</a>
                    </div>
                <% } else { %>
                    <div id="logoutButton">
                        <a href="/auth/logout">Log Out</a>
                    </div>
                    <div id="favoritesButton">
                        <a href="/favorites/drinks">Favorites</a>
                    </div>
                    <div id="forumButton">
                        <a href="/forum/show">Forum</a>
                    </div>
                <% } %>
            </ul>
        </nav>
    </header>
    <%- include('partials/alerts.ejs') %>
    <%- body %>
</body>
</html>