<style>
    h2 {
        color: black;
        text-align: center;
    }
    .favoriteDrinks {
        font-size: 3vw;
        border-radius: 10px;
        background-color: #c55757;
        color: pink;
        opacity: 0.9; 
    }
</style>

<div class="favoriteDrinks">
<h2><%= currentUser.name %>'s Favorite Drinks</h2>
</div>
<a href="/">&larr; Back Home</a>

