<h1>Search for Drinks:</h1>

<form action="homepage/show" method="GET">
    <label for="drinkFilter">Search Drinks</label>
    <input type="text" id="drinkFilter" name="drinkName">
    <input type="submit" value="Search">
</form>